<div class="container">
    <h2>ログインページ</h2>
    <div class="content">
        <h2>アカウント情報を入力して下さい</h2>
        
        <%= form_for(:session, url: login_path) do |f| %>
        
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, class: 'form-control' %>
        
        <%= f.label :パスワード %>
        <%= f.password_field :password, class: 'form-control' %>
        
        <%= f.submit "ログイン", class: "btn btn-primary" %>
        <% end %>
        
        <p>ご登録がまだの方はコチラ <%= link_to "新規登録", signup_path %></p>
    </div><!--content-->