<h2>ユーザー情報</h2>
<div class="container">
    <div class="content">
        <h2>設定の変更</h2>
        <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        
        <%= f.label :ユーザー名 %>
        <%= f.text_field :name %>
        
        <%= f.label :メールアドレス %>
        <%= f.text_field :email %>
        
        <%= f.label :パスワード %>
        <%= f.password_field :password %>
        
        <%= f.label :password_confirmation, "⚠ パスワード（確認用）" %>
        <%= f.password_field :password_confirmation %>
        
        <%= f.submit "変更を保存", class: "btn btn-large btn-primary" %>
        <% end %>
    </div><!--content-->